
body {
    font-family: Arial, sans-serif;
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpg'); /* Add your image filename here */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
}


.container {
    text-align: center;
}

#quoteButton {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#quote {
    margin-top: 40px;
    font-size: 20px;
}
